@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using FysioEnterprise.Presentation.Service.Helpers
@inject NotificationHelper Notification
@page "/createsession"
@using System.Globalization
@using Radzen.Blazor

<main class="home-wrap">
	<header class="home-header">
		<h1 class="welcome-text">Opret booking</h1>
	</header>

	<article class="selection-card">

		@if (!string.IsNullOrEmpty(_errorMessage))
		{
			<p class="error-message">@_errorMessage</p>
		}

		@if (!string.IsNullOrEmpty(_successMessage))
		{
			<p class="success-message">@_successMessage</p>
		}

		
		<!-- Klient -->
		<section class="form-field">
			<label class="field-label">
				<RadzenIcon Icon="person" Style ="font-size: 18px;" />
				Klient
			</label>
			<select class="form-select" @onchange="OnClientChanged">
				<option value="" disabled selected hidden>- Vælg Klient -</option>
				@foreach (var client in _clients)
				{
					<option value="@client.ClientID"
							selected="@(client.ClientID == _selectedClientId)">
						@client.ClientFirstName @client.ClientLastName
					</option>
				}
			</select>
		</section>

		<!-- Starttid -->
		<section class="form-field">
			<label class="field-label">
				<RadzenIcon Icon="schedule" Style="font-size: 18px;" />
				Starttid
			</label>
			<input type="datetime-local" class="form-select"
				   value="@_startTime?.ToString("yyyy-MM-ddTHH:mm")"
				   @onchange="OnStartTimeChanged" />
		</section>

		@*Sluttid*@
		@if (_endTime.HasValue)
		{
			<section class="form-field">
				<label class="field-label">
					<RadzenIcon Icon="schedule" Style="font-size: 18px;"/>
					Sluttid: @_endTime.Value.ToString("dd/MM/yyyy HH:mm")
					<button class="edit-btn" @onclick="ToggleEndTimeEdit" type="button">
						<RadzenIcon Icon="@(_editEndTime ? "close" : "edit")" Style="font-size: 16px;"/>
					</button>
				</label>

				@if (_editEndTime)
				{
					<input type="datetime-local" class="form-select"
							value="@_endTime?.ToString("yyyy-MM-ddTHH:mm")"
							@onchange="OnEndTimeChanged" />
				}
			</section>
		}

		<!-- Behandslingstype -->
		<section class="form-field">
			<label class="field-label">
				<RadzenIcon Icon="healing" Style="font-size: 18px;" />
				Behandlingstype
			</label>
			<select class="session-select" @onchange="OnSessionTypeChanged"
					disabled="@(!_startTime.HasValue)">
				<option value="" disabled selected hidden>— Vælg Behandlingstype —</option>
				@foreach (var type in _sessionTypes)
				{
					<option value="@type.SessionTypeID"
						selected="@(type.SessionTypeID == _selectedSessionTypeId)">
						@type.SessionTypeName - @GetSessionTypeInMinutes(type) min. -  @type.SessionTypePrice kr.
					</option>
				}
			</select>
		</section>

		<!-- Behandler -->
		<section class="form-field">
			<label class="field-label">
				<RadzenIcon Icon="medical_services" Style="font-size: 18px;" />
				Behandler
			</label>
			<select class="form-select" @onchange="OnStaffChanged"
					disabled="@(_selectedSessionTypeId == Guid.Empty)">
				<option value="" disabled selected hidden>- Vælg Behandler -</option>
				@foreach (var staff in _filteredStaff)
				{
					<option value="@staff.StaffID"
						selected="@(staff.StaffID == _selectedStaffId)">
						@staff.StaffFirstName @staff.StaffLastName - @staff.StaffAuthorisationType
					</option>
				}
			</select>
		</section>


		<!-- Rum -->
		<section class="form-field">
			<label class="field-label">
				<RadzenIcon Icon="meeting_room" Style="font-size: 18px;" />
				Rum
			</label>
			<select class="form-select" @onchange="OnRoomChanged"
					disabled="@(_selectedClinicId == Guid.Empty)">
				<option value="" disabled selected hidden>— Vælg Rum —</option>
				@foreach (var room in _rooms)
				{
					<option value="@room.RoomID"
						selected="@(room.RoomID == _selectedRoomId)">
						Rum @room.RoomNumber
					</option>
				}
			</select>
		</section>

		<!-- Promotion -->
		<section class="form-field">
			<label class="field-label">
				<RadzenIcon Icon="sell" Style="font-size: 18px;" />
				Promotion (Valgfri)
			</label>
			<select class="form-select" @onchange="OnPromotionChanged">
				<option value="">- Ingen kampagne -</option>
				@foreach (var promotion in _promotions)
				{
					<option value="@promotion.PromotionID">
						@promotion.PromotionName - @promotion.PromotionDiscountPercent%
					</option>
				}
			</select>
		</section>

		<!-- Knapper -->
		<footer class="action-footer">
			<button class="submit-button" @onclick="Cancel">
				Annuller
			</button>
			<button class="submit-button" @onclick="Submit"
					disabled="@(!CanSubmit || _isLoading)">
				@if (_isLoading)
				{
					<span>"Gemmer..."</span>
				}
				else
				{
				@(_isEditMode ? "Gem ændringer" : "Opret booking")
				}
				</button>
		</footer>

	</article> 
</main>